if SHIELD_MALGEN06_KEYBOARD2_LEFT

config ZMK_KEYBOARD_NAME
    default "mgk2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # SHIELD_MALGEN06_KEYBOARD2_LEFT

if SHIELD_MALGEN06_KEYBOARD2_LEFT || SHIELD_MALGEN06_KEYBOARD2_RIGHT

config ZMK_SPLIT
    default y

endif # SHIELD_MALGEN06_KEYBOARD2_LEFT || SHIELD_MALGEN06_KEYBOARD2_RIGHT
